<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the APNS plugin.
-->
<plugin>
    <class>org.jivesoftware.openfire.plugin.apns</class>
    <name>APNS</name>
    <description>Forward Message to Apple Push Notification Service.</description>
    <author>Predrag Mandic</author>
    <version>0.1</version>
    <date>1/10/2014</date>
    <url>https://www.phlogisto.com</url>
    <minServerVersion>3.8.0</minServerVersion>
    <databaseKey>apns</databaseKey>
    <databaseVersion>0</databaseVersion>
</plugin>

